.contact {
	background-color: @gray-bg;
	display: flex;

	&__wrapper {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		padding-top: 106px;
		padding-left: 106px;
		padding-bottom: 106px;
		max-width: 350px;
	}

	&__title {
		text-transform: none;
		font-size: 24px;
		line-height: 32px;
	}

	&__caption {
		margin-top: 6px;
		font-size: 14px;
		line-height: 21px;
	}

	&__form {
		margin-top: 30px;
	}
}